<!DOCTYPE html>
<html>
	<head>
		<title>Static Preposition Locator</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js'></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="player.js"></script>

	</head>
	<body ng-app="staticPrepLocator">
		<div id="container" ng-controller="staticPrepLocatorCtrl">
			<h1 id="logo">Static Preposition Locator</h1>
			<div id="instructions">
				<h2>Instructions</h2>
				<p>You can use this preposition locator to find static prepositions in your text.</p>
			</div>
			 <div id="input">
				<h2>Input</h2>
				<textarea id="source" placeholder="Enter your text here." ng-model="input"></textarea>
				<button class="submit"
					value="find_preps"
					ng-click="findText()">Find</button>
				<button class="reset"
					value="reset"
					ng-click="resetText()">Reset</button>
			</div>
			<div id="result">
				<h2>Result</h2>
				<div id="destination"
					ng-class="{'active' : output.length > 0}"
					ng-bind-html="output"></div>
			</div>
		</div>
	</body>
</html>
